// Colors
$main_blue: #1a5dab;
$main_orange: #f7a81b;
$gray: #333;
$dark_gray: #242424;
$light_gray: #666666;
$lighter_gray: #f5f5f5;
// Fonts
$epi: 'Epilogue', sans-serif;

// Images path
$global: "assets/images/global";
$home: "assets/images/home";

// mixins
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}